#teachers {
  padding: 5% 0;
  background: var(--prime-light);
  margin: 0 50px;
  border-radius: 20px;
}
#teachers .top {
  text-align: center;
  margin-bottom: 50px;
}
#teachers .top h1 {
  color: var(--prime-blue);
  margin-bottom: 18px;
}
#teachers .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#teachers .hod {
  width: 30%;
  height: 250px;
  text-align: center;
  padding: 30px 0 20px 0;
  border-radius: 20px;
  background: linear-gradient(to top, #f7f8ff9a, #ffff),
    url(../images/waves.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--prime-blue);
  margin-bottom: 24px;
  transition: 0.3s ease-in;
}
#teachers .hod .main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#teachers .hod .image-box {
  width: 120px;
  margin: 0 12px 0;
  border-radius: 50%;
  padding: 5px;
  border: 1px dashed var(--prime-blue);
}

#teachers .hod:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#teachers .hod:hover .image-box {
  border: 1px solid var(--prime-blue);
  transform: rotate(360deg);
}
#teachers h4 {
  margin: 12px 0;
  font-size: 20px;
  color: var(--prime-blue);
}
#teachers span {
  display: inline-block;
  margin-bottom: 12px;
  color: var(--prime-gray);
  font-weight: 600;
  letter-spacing: 1px;
}
#teachers .hod .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  background: #369629;
  padding: 12px 10px;
  border-radius: 20px;
  transition: 0.3s ease-in;
  margin: 24px auto 0;
}
#teachers .hod .contact a {
  display: block;
  width: 100%;
}
#teachers .hod .contact .icon {
  margin-right: 12px;
}
#teachers .hod .contact small {
  color: #fff;
}
#teachers .hod .contact small i {
  transition: 0.4s ease-in;
}
#teachers .hod .contact:hover {
  background: #2a7720;
}
#teachers .hod .contact:hover small i {
  transform: rotateY(360deg);
}
#teachers .image-box img {
  width: 100%;
  display: block;
  border-radius: 50%;
}
#teachers .profiles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#teachers .profiles li {
  width: 20%;
  height: 250px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(to top, #f7f8ff9a, rgba(255, 255, 255, 0.541)),
    url(../images/waves.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--prime-blue);
  margin-right: 24px;
  padding: 50px 20px;
  transition: 0.3s ease-in;
}
#teachers .profiles li:last-child {
  margin-right: 0;
}
#teachers .profiles li .image-box {
  width: 90px;
  margin-right: 24px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  border: 1px dashed var(--prime-blue);
}
#teachers .profiles li:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#teachers .profiles li:hover .image-box {
  border: 1px solid var(--prime-blue);
}
